@model IEnumerable<Paciente>

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Pacientes Resgistrados</h1>
   
    <table class="table table-striped">
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>CPF</td>
            <td>Remover</td>
        </tr>

        @foreach (var paciente in Model)
        {
            <tr>
                <td>@paciente.Id</td>
                <td>@paciente.Nome</td>
                <td>@paciente.CPF</td>
                <td><a asp-controller="Paciente" asp-action="Deletar" asp-route-id="@paciente.Id">Remover</a></td>
            </tr>
        }

     </table>
</div>
